@import url('https://fonts.googleapis.com/css?family=Arvo');
.additional-btns-wrapper .additional-btns {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.additional-btns-wrapper .additional-btns button {
    margin: 2px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: none;
    border-width: solid 1px #111;
}

.additional-btns-wrapper .additional-btns button i {
    font-size: 1.2em;
}

/* The Modal (background) */

.additional-btns-wrapper .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.additional-btns-wrapper .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.additional-btns-wrapper .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.additional-btns-wrapper .close:hover, .additional-btns-wrapper .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.additional-btns-wrapper .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.additional-btns-wrapper .modal-body {
    padding: 2px 16px;
}

.additional-btns-wrapper .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}