@import url('https://fonts.googleapis.com/css?family=Arvo');
.additional-btns {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.additional-btns button {
    margin: 2px;
    border-radius: 50%;
    padding: 15px;
    outline: none;
    border-width: solid 1px #111;
}

.additional-btns button i {
    font-size: 1.2em;
}