@import url('https://fonts.googleapis.com/css?family=Arvo');

.masonry {
    column-count: 4;
    column-gap: 5px;
    transition: all .5s ease-in-out;
    column-fill: initial;
    cursor: pointer;
    
}

.brick {
    /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #999;
    overflow: hidden;
}

.masonry .brick:hover img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}
.card-style {
    box-shadow: none;
}
.masonry img, video {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}