<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.followers {
    border-radius: 12px;
    border: 1px solid rgb(16, 16, 26);
    width: 400px;
    height: 400px;
}
.list {
    overflow: auto;
}
.top {
    margin: 5px 0;
    display: flex;
    border-bottom: 1px solid teal;
}
.button-close {
    margin: auto;
    margin-right: 6px;
}
.title {
    margin:  auto 4px;
}
.list{
    height: 350px;
    position: relative;
    overflow: auto;
}
table {
    width: 100%;
    border: 0;
}
.infor {
    display: flex;
}

.avt img {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
.name {
    margin: auto 0;
}
</style>
</head>   

<body>
<div class="followers">
    <div class="top">
        <div>
            <h2 class="title">Người theo dõi</h2>
        </div>
        <div class="button-close">
            <i class="fa fa-times"></i>
        </div>
        
    </div>
    <div class="list">
        <table>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="infor">
                        <div class="avt">
                            <img src="https://cdn.newsapi.com.au/image/v1/612505117b602450f2a9bf0d4c782dc7" alt="avt">
                        </div>
                        <div class="name">
                            Nguyen van A
                        </div>
                    </div>
                </th>
                <th>
                    <div class="checkFollow">
                        <button>Dang theo doi</button>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</div>

