<html>
    <head>
        <style>
            .avatar{
                border-radius: 50%;
            }
            
            .header{
                display: inline;
            }
        </style>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div align="center">
            <h1>Tạo bài viết</h1>
            <form action="" method="">
                <div class="header">
                    <img src="../src/avatar.jpg" alt="img" height="100px" width="100px" class="avatar"/>
                    <h2>Your Name</h2>
                </div>
                <div>
                    <textarea rows="9" cols="70"> 
                        Bạn đang muốn chia sẻ gì thế?
    
                    </textarea> <br>
                    <i class="fas fa-images"></i>
                    <i class="fas fa-user-plus"></i>
                    <i class="fas fa-map-marker-alt"></i> 
                </div>
                
                <input type="submit" value="Đăng" />
            </form>
        </div>
        

    </body>
</html>