<html>
    <head>
        <style>
            .container{
                left: 75%;
                padding: 10px;
                margin: 0;
                padding: 10;
                position: absolute;
            }

           h2 {
               text-align: center;
           }
        </style>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="container">
               <h2> Cập nhật </h2>
                <h4>Chúng tôi nghĩ rằng bạn có thể thích những món ăn này </h4>
              
              
              <div name="list-img">
                <img src="../src/image/dishes/1.jpg" height="100px" width="100px" /> 
                <img src="../src/image/dishes/2.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/3.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/4.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/5.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/6.jpg" alt="" height="100px" width="100px" />
            </div> 
               <h4>Bánh mì, Phở, Cơm rang và nhiều món ăn nữa để tìm kiếm </h4> 
               <div name="list-img">
                <img src="../src/image/dishes/1.jpg" height="100px" width="100px" /> 
                <img src="../src/image/dishes/2.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/3.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/4.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/5.jpg" alt="" height="100px" width="100px" />
                <img src="../src/image/dishes/6.jpg" alt="" height="100px" width="100px" />
            </div>  
        </div>
    </body>
</html>